/***--     User Theme Variable     --***/


/***-- Copyright @Amit Prajapat--***/

:root {
	--theme-color-1: #6C63FF;
	--theme-color-1-05opc: #6C63FF05;
	--theme-color-1-10opc: #6C63FF10;
	--theme-color-2: #3F3D56;
	--theme-color-2-5op: #3F3D5605;
	--theme-color-2-10op: #3F3D5610;
	--theme-color-dark: #2F2E41;
	--theme-color-dark-90op: #2F2E4190;
	--box-shadow-color-1: #6C63FF25;
	--box-shadow-color-2: #3F3D5625;
	--box-shadow-color-1-50op: #6C63FF50;
	--box-shadow-color-2-50op: #3F3D5650;
	--card-box-shadow-1: 0px 10px 20px -10px var(--box-shadow-color-1);
	--card-box-shadow-2: 0px 10px 20px -10px var(--box-shadow-color-2);
	--card-box-shadow-1-50op: 0px 10px 20px -10px var(--box-shadow-color-1-50op);
	--card-box-shadow-2-50op: 0px 10px 20px -10px var(--box-shadow-color-2-50op);
	--font-size-xsmall: 12px;
	--font-size-small: 14px;
	--font-size-xmedium: 16px;
	--font-size-medium: 18px;
	--font-size-large: 24px;
	--font-size-xlarge: 36px;
	--font-size-xxlarge: 48px;
	--first-section-margin-top: 56px;
}
/**---- Brand Fonts ----**/

@font-face {
	font-family: montserratalternates-black;
	src: url("../../vendor/fonts/MONTSERRATALTERNATES-BLACK.OTF");
}

@font-face {
	font-family: montserratalternates-mediumitalic;
	src: url("../../vendor/fonts/MONTSERRATALTERNATES-MEDIUMITALIC.OTF");
}

@font-face {
	font-family: montserrat-extralight;
	src: url("../../vendor/fonts/MONTSERRAT-EXTRALIGHT.OTF");
}

@font-face {
	font-family: montserratalternates-blackitalic;
	src: url("../../vendor/fonts/MONTSERRATALTERNATES-BLACKITALIC.OTF");
}

@font-face {
	font-family: montserratalternates-regular;
	src: url("../../vendor/fonts/MONTSERRATALTERNATES-REGULAR.OTF");
}

@font-face {
	font-family: montserrat-extralightitalic;
	src: url("../../vendor/fonts/MONTSERRAT-EXTRALIGHTITALIC.OTF");
}

@font-face {
	font-family: montserratalternates-bold;
	src: url("../../vendor/fonts/MONTSERRATALTERNATES-BOLD.OTF");
}

@font-face {
	font-family: montserratalternates-semibold;
	src: url("../../vendor/fonts/MONTSERRATALTERNATES-SEMIBOLD.OTF");
}

@font-face {
	font-family: montserrat-italic;
	src: url("../../vendor/fonts/MONTSERRAT-ITALIC.OTF");
}

@font-face {
	font-family: montserratalternates-bolditalic;
	src: url("../../vendor/fonts/MONTSERRATALTERNATES-BOLDITALIC.OTF");
}

@font-face {
	font-family: montserratalternates-semibolditalic;
	src: url("../../vendor/fonts/MONTSERRATALTERNATES-SEMIBOLDITALIC.OTF");
}

@font-face {
	font-family: montserrat-light;
	src: url("../../vendor/fonts/MONTSERRAT-LIGHT.OTF");
}

@font-face {
	font-family: montserratalternates-extrabold;
	src: url("../../vendor/fonts/MONTSERRATALTERNATES-EXTRABOLD.OTF");
}

@font-face {
	font-family: montserratalternates-thin;
	src: url("../../vendor/fonts/MONTSERRATALTERNATES-THIN.OTF");
}

@font-face {
	font-family: montserrat-lightitalic;
	src: url("../../vendor/fonts/MONTSERRAT-LIGHTITALIC.OTF");
}

@font-face {
	font-family: montserratalternates-extrabolditalic;
	src: url("../../vendor/fonts/MONTSERRATALTERNATES-EXTRABOLDITALIC.OTF");
}

@font-face {
	font-family: montserratalternates-thinitalic;
	src: url("../../vendor/fonts/MONTSERRATALTERNATES-THINITALIC.OTF");
}

@font-face {
	font-family: montserrat-medium;
	src: url("../../vendor/fonts/MONTSERRAT-MEDIUM.OTF");
}

@font-face {
	font-family: montserratalternates-extralight;
	src: url("../../vendor/fonts/MONTSERRATALTERNATES-EXTRALIGHT.OTF");
}

@font-face {
	font-family: montserrat-black;
	src: url("../../vendor/fonts/MONTSERRAT-BLACK.OTF");
}

@font-face {
	font-family: montserrat-mediumitalic;
	src: url("../../vendor/fonts/MONTSERRAT-MEDIUMITALIC.OTF");
}

@font-face {
	font-family: montserratalternates-extralightitalic;
	src: url("../../vendor/fonts/MONTSERRATALTERNATES-EXTRALIGHTITALIC.OTF");
}

@font-face {
	font-family: montserrat-blackitalic;
	src: url("../../vendor/fonts/MONTSERRAT-BLACKITALIC.OTF");
}

@font-face {
	font-family: montserrat-regular;
	src: url("../../vendor/fonts/MONTSERRAT-REGULAR.OTF");
}

@font-face {
	font-family: montserratalternates-italic;
	src: url("../../vendor/fonts/MONTSERRATALTERNATES-ITALIC.OTF");
}

@font-face {
	font-family: montserrat-bold;
	src: url("../../vendor/fonts/MONTSERRAT-BOLD.OTF");
}

@font-face {
	font-family: montserrat-semibold;
	src: url("../../vendor/fonts/MONTSERRAT-SEMIBOLD.OTF");
}

@font-face {
	font-family: montserratalternates-light;
	src: url("../../vendor/fonts/MONTSERRATALTERNATES-LIGHT.OTF");
}

@font-face {
	font-family: montserrat-bolditalic;
	src: url("../../vendor/fonts/MONTSERRAT-BOLDITALIC.OTF");
}

@font-face {
	font-family: montserrat-semibolditalic;
	src: url("../../vendor/fonts/MONTSERRAT-SEMIBOLDITALIC.OTF");
}

@font-face {
	font-family: montserratalternates-lightitalic;
	src: url("../../vendor/fonts/MONTSERRATALTERNATES-LIGHTITALIC.OTF");
}

@font-face {
	font-family: montserrat-extrabold;
	src: url("../../vendor/fonts/MONTSERRAT-EXTRABOLD.OTF");
}

@font-face {
	font-family: montserrat-thin;
	src: url("../../vendor/fonts/MONTSERRAT-THIN.OTF");
}

@font-face {
	font-family: montserratalternates-medium;
	src: url("../../vendor/fonts/MONTSERRATALTERNATES-MEDIUM.OTF");
}

@font-face {
	font-family: montserrat-extrabolditalic;
	src: url("../../vendor/fonts/MONTSERRAT-EXTRABOLDITALIC.OTF");
}

@font-face {
	font-family: montserrat-thinitalic;
	src: url("../../vendor/fonts/MONTSERRAT-THINITALIC.OTF");
}