:root{
	--fixed-height:100%;
}

/*Site*/
body {
	font-family: montserrat-regular;
	padding: 0px;
	margin: 0px;
	font-size: var(--font-size-small);
	color: var(--theme-color-2) !important;
}
.btn:hover{
	color: white;
}
.sidebar-action{
	display: none;
	z-index: 99999;
}
/*Navbar*/

.custom-navbar {
	background-color: white;
	box-shadow: var(--card-box-shadow-1-50op);
}

.navbar-brand {
	font-family: montserratalternates-bold;
}
.navbar-profile-photo{
	height: 30px;
	width: auto;
}
.dropdown-menu{
    font-size: var(--font-size-small);
    border-radius: 0px;
    border:1px solid var(--theme-color-2-10op);
    box-shadow: var(--card-box-shadow-1-50op);
}

/* User Hero Section */
.user-hero-section{
    margin-top: var(--first-section-margin-top);
    background-color: var(--theme-color-2);
}

.sidebar-column{
	background-color: var(--theme-color-2);
	height:var(--fixed-height);
	color:white;
	position: fixed;
	z-index: 2;
}

.sidebar-item.active{
    background-color: var(--theme-color-dark-90op);
	border-left: 5px solid var(--theme-color-dark);
}

/*User Acccount Details Section*/

.information-column{
	font-size: var(--font-size-small);
	background-color: white;
}

.information-container-header{
    font-size: var(--font-size-medium);
    margin:20px 0px;
    padding-left:20px;
    border-left:5px solid var(--theme-color-2);
    color: var(--theme-color-2);
}

/*Customers*/
.my-customer-item{
	background-color: white;
	padding:20px;
	box-shadow: var(--card-box-shadow-1-50op);
	font-size: var(--font-size-small);
}
.customer-profile-photo{
	height: 70px;
	width:auto;
	margin: auto;
}

.sub-header{
	font-family:  montserrat-bold;
}
.table-customer-item-container>thead.thead-light th{
	background-color: var(--theme-color-2-5op);
	border-color: var(--theme-color-2-10op);
}


#customerModal>.modal-dialog>.modal-content{

	border-radius: 0px;
	border:0px;
}
#customerModal>.modal-dialog>.modal-content>.modal-header{
	color: var(--theme-color-2);
	
}


/* Users */
.user-table>thead.thead-light th{
	background-color: var(--theme-color-2-5op);
	border-color: var(--theme-color-2-10op);
}

.user-table-photo{
	width: 30px;
	height: auto;
}

.user-form-control.form-control{
	font-size: var(--font-size-small);
	border: 0px;
	border-radius: 50px;
	border: 1px solid var(--theme-color-2);
}

/* Query */
.table-query-item-container>thead.thead-light th{
	background-color: var(--theme-color-2-5op);
	border-color: var(--theme-color-2-10op);
}


/*Arts*/
.art-management-contiainer{
	font-size: var(--font-size-small);
}
.btn-art-action,.btn-submit-art{
	background-color: var(--theme-color-2);
	color: white;
	border-radius: 50px;
	font-family: montserrat-bold;
	width: 100%;
	font-size: var(--font-size-small);
}
.btn-add-art{
	color: var(--theme-color-2);
	padding-top:49%;
}
.btn-add-art:hover{
	color: var(--theme-color-dark) !important;
	padding-top:49%;
}
.art-item{
	transition: all .2s ease;
}
.art-item:hover{
	transform: scale(1.1);
}

.art-item>.art-image>img,
.art-item>.art-image>.header-action{
	border-radius: 10px !important;
}
.art-item>.art-image>img{
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}
.art-item-add{
	transition: all .2s ease;
	border:2px dashed var(--theme-color-2-5op);
	border-radius: 10px;
	height: 100%;
}
.art-item-add:hover{
	border:2px dashed var(--theme-color-2-10op);
	height: 100%;
	transform: scale(1.1);
}
.add-art-form-control{
	font-size: var(--font-size-small);
	border: 0px;
	border-radius: 50px;
	border: 1px solid var(--theme-color-2);
}
.header-action,
.footer-action{
background-color: var(--theme-color-dark) !important;
}
.header-action>i,
.footer-action>i{	
	color: white;
	padding:8px 10px;
}


/*Billing*/
.table-billing-container>thead.thead-light th{
	background-color: var(--theme-color-2-5op);
	border-color: var(--theme-color-2-10op);
}


/*Artists*/
.artists-management-contiainer{
	font-size: var(--font-size-small);
}
.btn-artists-action,.btn-submit-artists{
	background-color: var(--theme-color-2);
	color: white;
	border-radius: 50px;
	font-family: montserrat-bold;
	width: 100%;
	font-size: var(--font-size-small);
}
.btn-add-artists{
	color: var(--theme-color-2);
	padding-top:49%;
}
.btn-add-artists:hover{
	color: var(--theme-color-dark) !important;
	padding-top:49%;
}

.artists-item-add{
	border:2px dashed var(--theme-color-2-5op);
	height: 100%;
}
.artists-item-add:hover{
	border:2px dashed var(--theme-color-2-10op);
	height: 100%;
}
.add-artists-form-control{
	font-size: var(--font-size-small);
	border: 0px;
	border-radius: 0px;
	border: 1px solid var(--theme-color-2);
}

.table-artists-item-container>thead.thead-light th{
	background-color: var(--theme-color-2-5op);
	border-color: var(--theme-color-2-10op);
}


#artistsModal>.modal-dialog>.modal-content{
	background-color: var(--theme-color-2);
	border-radius: 0px;
	border:0px;
}
#artistsModal>.modal-dialog>.modal-content>.modal-header{
	color: white;
	border-bottom: 1px solid #ffffff80;
}
#artistsModal>.modal-dialog>.modal-content>.modal-header>.close{
	color: white;

}


/*Reports Page*/
.mychart-container,
.my-sales-insight,
.top-painting-container,
.top-customers-container,
.visitor-container{
	margin-bottom: 25px;
	padding:20px;
	box-shadow: var(--card-box-shadow-1-10op);
	border-radius: 10px;
	border: 1px solid var(--theme-color-2-5op);
}
.box-shadow{
	box-shadow: var(--card-box-shadow-1-10op);
}
.top-painting-header,
.top-customers-header,
.visitor-header{
	color: var(--theme-color-2);
	font-size: var(--font-size-xmedium);
	font-family: montserrat-bold;
}

.visitor-count{
	font-size: var(--font-size-xxlarge);
	font-family: montserrat-bold;
	padding:20px;
}

.shipping-status{
	padding:5px 10px;
	width: 100%;
}


/*Invoice*/
.invoice-container{
	margin: 10px;
	padding: 40px;
	box-shadow: var(--card-box-shadow-1-50op);
	font-size: var(--font-size-small);
}
.invoice-company-name{
	font-size: var(--font-size-medium);
	font-family: montserrat-bold;
}

.invoice-sub-header{
	font-size: var(--font-size-small);
	font-family: montserrat-bold;
}

.invoice-order-table>thead.thead-light th{
	background-color: var(--theme-color-2-5op);
	border-color: var(--theme-color-2-10op);
}
.invoice-total-amount {
	font-size: var(--font-size-medium);
	font-family: montserrat-bold;
}


.btn-print-invoice{
	background-color: var(--theme-color-2);
	color: white;
	border-radius: 50px;
	font-family: montserrat-bold;
	width: 100%;
}
.btn-print-invoice:hover{
	background-color: var(--theme-color-dark);
	color: white;
	
}
.btn-export{
	background-color: var(--theme-color-2);
	color: white;
	border-radius: 50px;
	font-size:small;
}
.search-query{
	font-size:small;
}